/*color*/
/*red: #ff0000
clay: #009587*/
.pink{background-color: #bd2b53;}
.blue{background-color: #1b91bf;}
.yellow{background-color: #e6bc3e;}
.fb{background-color: #3b5998;}
.twitter{background-color: #56a3d9;}
.youtube{background-color: #bf221f;}
.google{background-color: #dd4b39;}
.linkedin{background-color: #007bb6;}
.gradient {
    background-color: rgba(0, 0, 0, 0.29);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAuNTEyIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciIG9mZnNldD0iMC43NjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIxNDEuNDIxMzU2MjM3MzA5NSUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAuNTEyIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciIG9mZnNldD0iMC43NjQiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
        -webkit-gradient(radial, left top, 0, left top, 723,color-stop(0, rgba(0, 0, 0, 0)),color-stop(0.512, rgba(0, 0, 0, 0)),color-stop(0.764, rgba(0, 0, 0, 0.7)),color-stop(1, rgb(0, 0, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(left top, ellipse farthest-corner,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 51.2%,rgba(0, 0, 0, 0.7) 76.4%,rgb(0, 0, 0) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at left top,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 51.2%,rgba(0, 0, 0, 0.7) 76.4%,rgb(0, 0, 0) 100%);
    background-image: -ms-repeating-radial-gradient(left top, ellipse farthest-corner,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 51.2%,rgba(0, 0, 0, 0.7) 76.4%,rgb(0, 0, 0) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#ff000000",GradientType=0);
    }
}
/*end color*/

/*common*/
p{font-size: 14px;color: #7c7c7c;line-height: 20px;}
*{outline: 0 !important;}
*.:focus {outline: 0 !important;}
.gutter-left{padding-left: 0px;}
.gutter-right{padding-right: 0px;}
.no-padding{padding-right: 0px;padding-left: 0px;}
p{margin:0;}
ul{padding:0;margin:0;}
ul li{padding: 0; list-style: none;}
ul li a,
ul li a:hover,
ul li a:active,
ul li a:focus{color: inherit;text-decoration: none;}
a:hover,
a:active,
a:focus{color: inherit;text-decoration: none;}
.form-control-cs:focus{border-color: inherit;box-shadow: none;outline: 0;border: none;}
.breadcrumb{background-color: transparent;border-radius: 0;padding: 15px;margin-bottom: 0;}
.breadcrumb li a,.breadcrumb li.active a{color: #7c7c7c;text-decoration: none;font-size: 12px;}
.form-control:focus{box-shadow: none;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
/*end common*/

/*buttons*/
.btn-outline{font-size: 14px;color: #fff;border: 1px solid #f0f0f0;border-radius: 0;padding:11px 28px;transition: 0.3s ease-in-out all; }
.btn-outline:hover,.btn-outline:focus{background-color: #ED1B24;color: #fff;border: 1px solid #ED1B24;}
.btn-book-now{background-color: #ff0000;color: #fff;font-size: 14px;font-weight: 500;border-radius: 0;width: 100%;padding: 12px;margin-top: 5px;transition: 0.3s ease-in-out all}
.btn-book-now:focus,.btn-book-now:hover{color: #fff;background-color: #009486;}
.btn-thumbnail{background-color: #009486;font-size: 12px;color: #fff;border-radius: 0;transition: 0.3s ease-in-out all;padding: 7px 15px;}
.btn-thumbnail:focus,.btn-thumbnail:hover{color: #fff;background-color: #ff0000;}
.btn-book-trip{background-color: #d9171f;font-size: 14px;width: 100%;border-radius: 0;padding: 12px;transition: 0.3s ease-in-out all;color: #fff;}
.btn-book-trip:focus,.btn-book-trip:hover{background-color: #009587;color: #fff;}
/*end buttons*/

/*parallax*/
.parallax-window{ min-height: 436px;background-color: transparent;position: relative; }
.parallax-window-in{ min-height: 594px;background-color: transparent;position: relative; }
.parallax-window-inside{ min-height: 120px;background-color: transparent;position: relative; }
/*end parallax*/

/*titles*/
.top-title{font-size: 14px;margin-bottom: 35px;text-transform: capitalize;}
.top-title p{color: #7c7c7c;}
.top-title h2{color: #222222;font-family: 'Montserrat', sans-serif;font-size: 30px;font-weight:700;text-transform: uppercase;}
.title-big h2{font-size: 24px;font-weight: 700;color: #3a3a3a;margin-bottom:20px;}
.title-small h2{font-size: 18px;font-weight: 500;color: #3a3a3a;margin-bottom:10px;}
.title-small hr{border-color: #ececec;margin-top: 0px;}
/*end titles*/

/*navbar*/
.navbar-wrap{background-color: #f9f9f9;}
#custom-menu.navbar-default .navbar-brand {color: rgba(119, 119, 119, 1);padding: 15px 1px;}
#custom-menu.navbar-default {font-size: 14px;background-color: rgba(255, 255, 255, 0);border-width: 0px;border-radius: 0px;}
#custom-menu.navbar-default .navbar-nav>li>a {color: #222222;background-color: rgba(248, 248, 248, 0);padding: 10px 8px;font-weight: 500;}
#custom-menu.navbar-default .navbar-nav>li>a .zmdi{font-size: 22px;line-height: 0;}
#custom-menu.navbar-default .navbar-nav>li>a:hover,
#custom-menu.navbar-default .navbar-nav>li>a:focus {color: #222222;background-color: rgba(248, 248, 248, 0);}
#custom-menu.navbar-default .navbar-nav>.active>a,
#custom-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-menu.navbar-default .navbar-nav>.active>a:focus {color: #222222;background-color: rgba(231, 231, 231, 1);}
#custom-menu.navbar-default .navbar-toggle {border-color: #ff0000;}
#custom-menu.navbar-default .navbar-toggle:hover,
#custom-menu.navbar-default .navbar-toggle:focus {background-color: #ff0000;}
#custom-menu.navbar-default .navbar-toggle .icon-bar {background-color: #888;}
#custom-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-menu.navbar-default .navbar-toggle:focus .icon-bar {background-color: #ffffff;}
.custom-navbar{margin-left: 8%;margin-top: 1.9%;}
/*navbar toggle button*/
.navbar-toggle{border-radius: 0px;margin-top:18px;margin-bottom: 0px;}
#custom-menu.navbar-default .navbar-toggle .icon-bar{background-color: #ff0000;}
.navbar-toggle .icon-bar{border-radius: 0px;height: 3px;}
/*end navbar*/

/*fade-In carousel*/
.carousel-fade .carousel-inner .item {opacity: 0;-webkit-transition-property: opacity;-moz-transition-property: opacity;-o-transition-property: opacity;transition-property: opacity;}
.carousel-fade .carousel-inner .active {opacity: 1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {left: 0;opacity: 0;z-index: 1;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}
.carousel-fade .carousel-control {z-index: 2;top: 21%;opacity: 1;}
.carousel-fade .carousel-control:hover {opacity: 0.6;}
.carousel-fade .carousel-control .zmdi{font-size: 42px;}
.overlay{position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.40);}
/*caption*/
.carousel-caption.main{text-shadow: none;color: #fff;top:19%;}
.carousel-caption.main h1{color: #ffcb05;font-size: 39px;font-weight: 700;margin-top: 15px;margin-bottom: 5px;}
.carousel-caption.main p{color: #fff;width: 70%;margin: 0 auto;font-size: 14px;line-height: 20px;margin-bottom: 32px;}
/*end caption*/
/*end fade-In carousel*/

/*Bootstrap Vertical Tabs*/
.tabs-left {margin-top: 3rem;background-color: #fff;min-height: 219px;}
.nav-tabs {float: left;border-bottom: 0;}
.nav-tabs li {float: none;margin: 0;border-top: 1px solid #cacaca;}
.nav-tabs li:first-child {border-top: none;}
.nav-tabs li a {margin-right: 0;border: 0;background-color: #dddddd;border-radius: 0;padding: 13px 23px;}
.nav-tabs li a:hover {-webkit-box-shadow: inset -2px -2px 25px 1px rgba(221,221,221,1);
-moz-box-shadow: inset -2px -2px 25px 1px rgba(221,221,221,1);
box-shadow: inset -2px -2px 25px 1px rgba(221,221,221,1);}
.nav-tabs .zmdi {color: #222222;font-size: 25px;}
.nav-tabs .active .zmdi {color: #109e91;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border: 0;-webkit-box-shadow: inset -2px -2px 25px 1px rgba(221,221,221,1);
-moz-box-shadow: inset -2px -2px 25px 1px rgba(221,221,221,1);
box-shadow: inset -2px -2px 25px 1px rgba(221,221,221,1);}
.tab-content {margin-left: 100px;}
.tab-content .tab-pane {display: none;background-color: #fff;padding: 1.6rem;overflow-y: auto;}
.tab-content .active {display: block;overflow: hidden;}
.list-group {width: 100%;}
.list-group .list-group-item {height: 50px;}
.list-group .list-group-item h4, .list-group .list-group-item span {line-height: 11px;}
/*End Bootstrap Vertical Tabs*/

/*image hover effect shin*/
/* Shine */
.thumbnail figure {position: relative;overflow: hidden;}
.thumbnail figure::before {position: absolute;top: 0;left: -75%;z-index: 2;display: block;content: '';width: 50%;height: 100%;background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);-webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);}
.thumbnail:hover figure::before {-webkit-animation: shine .75s;animation: shine .75s;}
@-webkit-keyframes shine {100% {left: 125%;}}
@keyframes shine {100% {left: 125%;}}
/*end image hover effect*/

.top-bar{background-color: #ed1b24;}
.top-bar .container	{background-color:#d9171f;background-image: url(../img/top.png);-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);position: relative;z-index: 1;}
.top-left li{display: inline-block;margin-right: 10px;color: #fff;font-size: 12px;font-weight: 500;line-height: 29px;}
.top-right li{font-size: 12px;font-weight: 500;display: inline-block;margin-right: 10px;color: #fff}
.top-right li:last-child,.top-left li:last-child{margin-right: 0;}
/*google*/
.goog-te-gadget-simple{border-left: none;border-top: none;border-bottom: none;border-right: none;height: 29px;padding-top: 4px;}
/*end google*/
.home-page-form{margin-top:-23.2%;}
.booking-form .from-group-wrap{margin-bottom: 30px;}
.booking-form .control-label{font-size: 14px;color: #222222;font-weight: 500;padding: 0;margin-bottom: 5px;}
.booking-form .form-control{height: 46px;border-radius: 0;border: 1px solid #bbbbbb;color: #7c7c7c;box-shadow: none;}
.booking-form .form-sub-group{width: 28%;float: left;margin-right: 15px;}
.booking-form .form-sub-group:last-child{margin-right: 0px;}
.package-wrap{padding-top:4%;padding-bottom: 1%;background: #f9f9f9;}
.popular-package-wrap{position: relative;overflow: hidden;margin-bottom: 30px;}
.popular-package-wrap .overlay{position: absolute;width: 90%;transition: 0.5s ease-in-out all;z-index: 1;}
.popular-package-wrap:hover .overlay{background-color: rgba(0,0,0,0);}
.ov-box{overflow: hidden;}
.ov-box img{-webkit-transform: scale(1);transform: scale(1);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
.ov-box:hover img{-webkit-transform: scale(1.3);transform: scale(1.3);}
.popular-package-wrap .ribbon{position: absolute;background-color: #009587;font-size: 14px;color:#fff;padding:6px 12px;top:15%;right: 15px;transition: 0.5s ease-in-out all;z-index: 1;}
.popular-package-wrap .ribbon p{color: #fff;}
.popular-package-wrap:hover .ribbon{background-color: #ff0000;}
.popular-package-wrap .pop-caption{position:absolute;color: #fff;font-size: 12px;bottom: 12%;left: 15%;width: 70%;z-index: 1;}
.popular-package-wrap .pop-caption p{color: #fff;}
.popular-package-wrap .pop-caption h3,
.popular-package-wrap .pop-caption h3 a{color: #fff;font-size: 16px;font-weight: 600;}
.inbound-package{padding-top: 3%;padding-bottom: 2%;}
.inbound-package-wrap .thumbnail{padding:0px;border-radius: 0;border: none;margin-bottom: 30px;}
.inbound-package-wrap .thumbnail img{width: 100%;}
.inbound-package-wrap .thumbnail .caption{padding:19px 23px 24px 23px;}
.inbound-package-wrap .thumbnail .caption h3,
.inbound-package-wrap .thumbnail .caption h3 a{font-size: 16px;font-weight: 600;color: #222222;}
.inbound-package-wrap .thumbnail .caption p{font-size: 12px;margin-top: 2px;}
.inbound-package-wrap .thumbnail .caption p#button-wrap{margin-top:15px;}
.inbound-package-wrap .thumbnail .caption a.st-price{font-size: 18px;color: #009587;font-weight: 600;float: right;text-align: right;line-height: 17px;}
.inbound-package-wrap .thumbnail .caption a.st-price span{color: #7c7c7c;font-size: 12px;font-weight: normal;}
.our-services{padding-top: 4%;padding-bottom: 4%;}
.service-wrap{text-align: center;transition:0.3s all;padding: 8px 0;}
.service-wrap:hover{-webkit-box-shadow: 0px 7px 25px -2px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 7px 25px -2px rgba(0,0,0,0.45);
box-shadow: 0px 7px 25px -2px rgba(0,0,0,0.45);margin-top:-6px;}
.service-wrap h4,.service-wrap h4 a{font-size: 16px;font-weight: 600;color: #222222;margin-top: 23px;}
.service-wrap p{font-size: 12px;font-weight: normal;color: #7c7c7c;}
.our-services .btn-book-now{width: auto;margin-top: 45px;padding: 12px 40px;}
.text-cont{position: absolute;left: 25%;top:30%;}
.text-cont h2{background-color: #fff;font-family: 'Montserrat', sans-serif;font-size: 30px;font-weight: 300;padding:6px 30px 12px;}
.text-cont p{background-color: #ffcb05;font-family: 'Montserrat', sans-serif;font-size: 20px;font-weight: 300;padding:10px 20px;width: 52%;color: #fff;margin-top: -8px;margin-left: 10px;}
.text-cont p a{color: #fff;}
.text-cont p a:hover{color: #fff;text-decoration: underline;}
.main-box{width: 100%;background-color: #fff;padding: 10px;-webkit-box-shadow: 0px 0px 121px 0px rgba(0,0,0,0.45);-moz-box-shadow: 0px 0px 121px 0px rgba(0,0,0,0.45);box-shadow: 0px 0px 121px 0px rgba(0,0,0,0.45);margin-top: -6%;margin-bottom: 6.5%;}
.box-one {width: 67%;float: left;}
.box-two {width: 33%;float: right;}
.box-one-wrap {clear: both;}
.box-one-wrap .box-one-img {height: 304px;width: 50%;float: left;}
.box-one-wrap .box-one-img img,.box-two .box-two-img img {height: 100%;width: 100%;}
.box-one-wrap .box-one-cont {height: 304px;width: 50%;float: right;padding: 50px 59px 40px 40px;}
.box-one-wrap .box-one-cont h3,
.box-one-wrap .box-one-cont h3 a,
.box-two .box-two-cont h3,
.box-two .box-two-cont h3 a{font-size:30px;font-family: 'Montserrat', sans-serif;font-weight: 700;color: #fff;margin-bottom: 10px;}
.box-one-wrap .box-one-cont p,
.box-two .box-two-cont p,
.box-one-wrap .box-one-cont p a,
.box-two .box-two-cont p a{font-size: 14px;color: #fff;line-height: 18px;}
.box-one-wrap .box-one-cont p a:hover,
.box-two .box-two-cont p a:hover{color: #fff;text-decoration: underline;}
.box-one-wrap .box-one-cont p#bottom-row,
.box-two .box-two-cont p#bottom-row{font-size: 14px;font-weight: 600;}
.reverse .box-one-img {float: right;}
.reverse .box-one-cont {float: left;}
.box-two .box-two-img {height: 304px;width: 100%;}
.box-two .box-two-cont {height: 304px;width: 100%;padding: 50px 59px 40px 40px;}
.box-one-wrap .box-one-cont hr{border-top:1px solid #d83d67;}
.box-two-cont hr{border-top:1px solid #f3d475;}
.box-one-wrap.reverse .box-one-cont hr{border-top:1px solid #45b0da;}
.box-one-cont,.box-two-cont{position: relative;}
.arrow-up{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #E6BC3E;position: absolute;top:-10px;left: 15px;}
.arrow-right{width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 12px solid #1B91BF;position: absolute;right: -12px;top:15px;}
.arrow-left{width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right:12px solid #BD2B53;position: absolute;top:15px;left: -12px;}
.box-section{background-color: #f9f9f9;}
.partners{padding-bottom: 5%;background-color: #f9f9f9;}
.related .img-box{min-height: 54px}
.related p{font-size: 20px;font-family: 'Montserrat', sans-serif;font-weight: 700;color: #b8b8b8;margin-top: 25px;}
.related .carousel{min-height: 54px;}
.related .carousel .carousel-indicators{top:45px;}
.related .carousel .carousel-indicators .active {background-color: #e5e5e5;}
.related .carousel .carousel-indicators li{width: 7px;height: 7px;border: none;background-color: rgba(229,229,229,.6);margin: 0;}
.related .carousel .item img,
.related .carousel .item.active img{margin: 0 auto;}
.footer{background-color: #3d3d3d;background-image: url(../img/top.png),url(../img/hill.png);background-repeat: repeat, no-repeat;background-position: 50% 50%, 48% 14%;}
.footer .links{margin-top: 89px;}
.links h3{color: #e0e0e0;font-family: 'Montserrat', sans-serif;font-size: 20px;margin-bottom: 26px;}
.links ul li{line-height: 21px;}
.links ul li a,.links p{color: #c5c5c5;transition: 0.3s all;}
.links ul li a:hover{margin-left:10px;}
.links iframe {width: 100%;height: 185px;}
.footer hr{border: 1px solid #353535;margin-top: 10px;margin-bottom: 40px;}
.footer .go-top{height: 40px;width: 40px;margin: -20px auto 0px;background-color: #7d7d7d;transform: rotate(45deg);}
.footer .go-top .zmdi{transform: rotate(-45deg);font-size: 20px;color: #c5c5c5;margin: 7px 4px 0 0;}
.copy-right{text-align: center;margin-bottom:2%;}
.copy-right p{font-size: 13px;color: #666666;}
.copy-right .zmdi{color: #bf221f;}
.copy-right a{color: #666666;font-size: 13px;font-weight: 700;}
.social{margin-bottom:40px;margin-top:20px;}
.social .round{height: 48px;width: 48px;margin: 0 auto;color: #fff;border-radius: 50%;display: inline-block;margin-right: 10px;}
.social .zmdi{line-height: 48px;font-size: 24px;}
.body-cont{background-color:#f9f9f9;padding: 0 0 4%;}
.parallax-window-inside .overlay{background-color: rgba(0,0,0,0.66);}
.parallax-window-inside .top-image-text{position: absolute;bottom: 20%;left: 8%;}
.top-image-text h1{font-family:'Montserrat', sans-serif;font-size: 24px;color: #fff;}
.top-image-text p{font-size: 14px;color: #f9f9f9;}
.parallax-window-inside .breadcrumb{position: absolute;top:10%;right: 13%;}
.breadcrumb li a,.breadcrumb > .active{color: #bfede9;}
.breadcrumb > li + li:before{color: #bfede9; }
.right-panel{background-color: #fff;}
.left-panel{background-color: #fff;margin-top: 30px;padding: 15px 15px;}
.detail-menu{margin-top: 30px;background-color: #fff;}
.detail-menu.cloned{box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);}
.detail-cont{padding: 0px 10px;}
/*material tabs*/
.nav-tabs-detail {padding: 5px; }
.nav-tabs-detail > li.active > a, .nav-tabs-detail > li.active > a:focus, .nav-tabs-detail > li.active > a:hover { border-width: 0; }
.nav-tabs-detail > li{margin-right: 20px;display: inline-block;margin-right: 20px;padding-bottom: 9px;position: relative;}
.nav-tabs-detail > li > a { border: none; color: #3a3a3a;font-size: 15px;font-weight: 400;padding: 10px 3px 6px;text-transform:capitalize;font-family: 'Montserrat',sans-serif}
.nav-tabs-detail > li > a.active, .nav-tabs-detail > li > a:hover { border: none; color: #4b4b57; background: transparent; }
.nav-tabs-detail > li > a.active { border-bottom: 3px solid #db242b; }
.nav-tabs-detail > li.active > a::after, .nav-tabs-detail > li:hover > a::after { transform: scale(1); }
.nav-tabs-detail > li > a:hover, .nav > li > a:focus{background-color: transparent;}
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
/*end material tabs*/
.table{margin-bottom: 0;}
.table > tbody > tr > th,
.table > tbody > tr > td{border: 1px solid #ececec;padding: 13px 8px}
.table > tbody > tr > th{width: 35%;border-left: none;color: #3a3a3a;}
.table > tbody > tr > td{width: 65%;border-right: none;color: #7c7c7c;font-size: 14px;padding-left: 40px;}
.table > tbody > tr > th div.s-round{height: 19px; width: 19px;border-radius: 50%;background-color: #db242b;float: left;text-align: center;margin-right: 10px;}
.table > tbody > tr > th div.s-round .zmdi{font-size: 11px;color: #fff;text-align: center;line-height: 19px;}
.trip-highlight,.overview,.map,.related-trips{margin-bottom: 25px;}
.overview p#quote{font-size: 18px;font-weight: 300;color: #3a3a3a;line-height: 20px;margin-bottom: 20px;}
.overview .major-fact{width: 150px;height: auto;margin:0px 40px 30px 30px;background-color: #009587;float: right;clear: both;}
.major-fact p{color: #fff;font-size: 15px;padding: 25px 20px;text-align: center;line-height: 20px;}
.trip-itineary{margin-top: 20px;}
.include-exclude ul li{color: #7c7c7c;font-size: 14px;line-height: 20px;}
.include-exclude ul{padding-left: 20px;margin-bottom: 20px;}
.include-exclude ul.include li:before {    
    font-family: 'Material-Design-Iconic-Font';content: '\f26d';margin:0 5px 0 -17px;    color: #009587;}
.include-exclude ul.exclude li:before {font-family: 'Material-Design-Iconic-Font';content: '\f26d';margin:0 5px 0 -17px;color: #db242b;}
.map iframe{width: 100%;height: 482px;}
.related-trips .thumbnail{-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);}
.book-trip,.help-line{margin-bottom: 30px;}

.book-trip .booking-form .control-label{font-weight: 400;}
.book-trip .booking-form .form-control{font-weight: 400;background-color: #f9f9f9;box-shadow: none;}
.right-panel.book-trip{margin-top: -56px;}
.book-trip .header{background-color: #009789;}
.book-trip .header h3{font-family: 'Montserrat',sans-serif;font-size: 18px; color: #fff;padding: 5%;}
.book-trip .booking-form .from-group-wrap{margin-bottom:20px;}
.book-trip .booking-form .from-group-wrap:last-child{margin-bottom:0px;}
.book-trip-body{padding: 15px 5px 17px;}
.help-line{background-color: #fff;padding: 16px 18px;}
.help-line h3{font-family: 'Montserrat', sans-serif;font-size: 18px;color: #3a3a3a;}
.help-line hr{border-color: #ececec;margin-top: 7px;}
.help-line p{color: #3a3a3a;}
.help-line p#number{color: #009587;font-size: 19px;margin-top: 10px;margin-bottom: 5px;}
.contact-us h1{font-size: 40px;}
.contact-panel{background-color: #fff;padding: 28px 28px;}
.contact-panel h5{font-size: 14px;font-weight: 700;width: 83%;float: right;margin-bottom: 7px;color: #7c7c7c;}
.info-wrap{border-bottom: 1px solid #f1f1f1;padding-bottom: 6px;margin-bottom: 15px;}
.info-wrap:last-child{border-bottom: none;}
.info-wrap .info-img{width: 13%;float: left;text-align: center;}
.info-wrap .info-info{width: 83%;float: right;}
.info-wrap .info-info p{line-height: 30px;margin-top: 5px;}
.info-wrap .info-info a{color: #7c7c7c;}
.contact-form{padding: 30px 15px 15px;}
.contact-form .booking-form legend{border-bottom: none;padding: 0 15px;font-size: 18px;    color: #222222;}
.booking-form textarea.form-control{height: auto;}
.contact-form .booking-form .control-label{color: #7c7c7c;}
.contact-form .btn-book-trip{width: auto;padding: 12px 60px;}
.contact-form .booking-form .from-group-wrap{margin-bottom: 15px;}
.contact-map {margin-top: 30px;}
.contact-map iframe{width: 100%;height: 478px;}
/*.test{padding: 20%;}*/

/*responsive*/
@media (min-width: 320px) and (max-width: 479px) {
    #custom-menu.navbar-default .navbar-brand{width: 38%;}
    .navbar-brand > img{width: 100%;}
    .carousel-caption.main h1{font-size: 20px;}
    .carousel-caption.main p{display: none;}
    .second-img{margin-right: 2px;}
    .carousel-caption.main{top:0;}
    .home-page-form{margin-top: 0;}
    .tabs-left{margin-bottom: 3rem;}
    .tab-content{margin-left: 0;}
    .radio-inline + .radio-inline{margin-left: 0;}
    .tab-content .active{overflow-y: scroll;}
    .popular-package-wrap img{width: 100%;}
    .popular-package-wrap .overlay{width: 91%;}
    .text-cont {left: 2%;right: 2%;}
    .text-cont h2{font-size: 21px;padding: 6px 13px 12px;}
    .text-cont p{font-size: 15px;padding: 10px 15px;font-weight: 500;}
    .box-one{width: 100%;}
    .box-one-wrap .box-one-img{height: auto;width: 100%;}
    .box-one-wrap .box-one-cont,.box-two .box-two-cont{padding: 32px 25px 32px 25px;height: auto;width: 100%;}
    .box-one-wrap .box-one-cont h3, .box-one-wrap .box-one-cont h3 a, .box-two .box-two-cont h3, .box-two .box-two-cont h3 a{font-size: 17px;}
    .box-one-wrap .box-one-cont p, .box-two .box-two-cont p, .box-one-wrap .box-one-cont p a, .box-two .box-two-cont p a{font-size: 12px;line-height: 17px;}
    .box-one-wrap .box-one-cont p#bottom-row, .box-two .box-two-cont p#bottom-row{font-size: 12px;}
    .box-two{width: 100%;}
    .box-two .box-two-img{width: 100%;float: left;height: auto;}
    .box-two .box-two-cont{width: 100%;float: right;height: auto;}
    .box-two-cont .arrow-up{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #E6BC3E;position: absolute;top:-10px;left: 15px;}
    .box-one-cont .arrow-left{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #BD2B53;position: absolute;top:-20px;left: 15px;}
    .box-one-cont .arrow-right{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #1B91BF;position: absolute;top:-20px;left: 15px;}
    .partners{padding-top: 5%;}
    .related .img-box img{margin: 0 auto;}
    .related{margin-bottom: 30px;}
    .service-wrap{margin-bottom:30px;}
    .custom-navbar{margin-left:0;}
    .navbar-collapse{border-top:none;}
    .gutter-left{padding-left: 15px;}
    .gutter-right{padding-right: 15px;}
    .right-panel.book-trip{margin-top: 30px;}
    .nav-tabs-detail > li{margin-right: 10px;}
    .parallax-window-inside .top-image-text{bottom: 11%;left: 4%;}
    .top-image-text h1{font-size: 22px;}
    .service-wrap:hover{margin-bottom: 37px;}
    .info-wrap .info-img{width: 100%}
    .info-wrap .info-info{width: 100%;text-align: center;}
}

@media (min-width: 480px) and (max-width: 559px) {
    .carousel-caption.main h1{font-size: 20px;}
    .carousel-caption.main p{font-size: 12px;line-height: 15px;}
    .second-img{margin-right: 20px;}
    .carousel-caption.main{top:0;}
    .home-page-form{margin-top: 0;}
    .tabs-left{margin-bottom: 3rem;}
    .tab-content{margin-left: 0;}
    .tab-content .active{overflow-y: scroll;}
    .popular-package-wrap img{width: 100%;}
    .popular-package-wrap .overlay{width: 94%;}
    .text-cont {left: 2%;right: 2%;}
    .text-cont h2{font-size: 21px;padding: 6px 13px 12px;}
    .text-cont p{font-size: 13px;padding: 10px 15px;font-weight: 500;}
    .box-one{width: 100%;}
    .box-one-wrap .box-one-img{height: auto;width: 100%;}
    .box-one-wrap .box-one-cont,.box-two .box-two-cont{padding: 32px 32px 32px 40px;height: auto;width: 100%;}
    .box-one-wrap .box-one-cont h3, .box-one-wrap .box-one-cont h3 a, .box-two .box-two-cont h3, .box-two .box-two-cont h3 a{font-size: 17px;}
    .box-one-wrap .box-one-cont p, .box-two .box-two-cont p, .box-one-wrap .box-one-cont p a, .box-two .box-two-cont p a{font-size: 13px;line-height: 17px;}
    .box-one-wrap .box-one-cont p#bottom-row, .box-two .box-two-cont p#bottom-row{font-size: 12px;}
    .box-two{width: 100%;}
    .box-two .box-two-img{width: 100%;float: left;height: auto;}
    .box-two .box-two-cont{width: 100%;float: right;height: auto;}
    .box-two-cont .arrow-up{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #E6BC3E;position: absolute;top:-10px;left: 15px;}
    .box-one-cont .arrow-left{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #BD2B53;position: absolute;top:-20px;left: 15px;}
    .box-one-cont .arrow-right{width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 10px solid #1B91BF;position: absolute;top:-20px;left: 15px;}
    .partners{padding-top: 5%;}
    .related .img-box img{margin: 0 auto;}
    .related{margin-bottom: 30px;}
    .service-wrap{margin-bottom:30px;}
    .custom-navbar{margin-left:0;}
    .navbar-collapse{border-top:none;}
    .gutter-left{padding-left: 15px;}
    .gutter-right{padding-right: 15px;}
    .right-panel.book-trip{margin-top: 30px;}
    .nav-tabs-detail > li{margin-right: 10px;}
    .parallax-window-inside .top-image-text{bottom: 15%;}
    .service-wrap:hover{margin-bottom: 37px;}
}


@media (min-width: 600px) and (max-width: 767px) {
    .second-img{margin-right: 20px;}
    .carousel-caption.main{top:0;}
    .home-page-form{margin-top: 0;}
    .tabs-left{margin-bottom: 3rem;}
    .tab-content{margin-left: 0;}
    .tab-content .active{overflow-y: scroll;}
    .popular-package-wrap img{width: 100%;}
    .popular-package-wrap .overlay{width: 95%;}
    .text-cont {left: 2%;right: 2%;}
    .text-cont h2{font-size: 26px;padding: 6px 13px 12px;}
    .text-cont p{font-size: 17px;padding: 10px 15px;}
    .box-one{width: 100%;}
    .box-one-wrap .box-one-img{height: 218px;}
    .box-one-wrap .box-one-cont,.box-two .box-two-cont{padding: 20px 20px 20px 23px;height: 218px;}
    .box-one-wrap .box-one-cont h3, .box-one-wrap .box-one-cont h3 a, .box-two .box-two-cont h3, .box-two .box-two-cont h3 a{font-size: 17px;}
    .box-one-wrap .box-one-cont p, .box-two .box-two-cont p, .box-one-wrap .box-one-cont p a, .box-two .box-two-cont p a{font-size: 13px;line-height: 17px;}
    .box-one-wrap .box-one-cont p#bottom-row, .box-two .box-two-cont p#bottom-row{font-size: 12px;}
    .box-two{width: 100%;}
    .box-two .box-two-img{width: 50%;float: left;height: 218px;}
    .box-two .box-two-cont{width: 50%;float: right;height: 218px;}
    .box-two-cont .arrow-up{width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right:12px solid #E6BC3E;position: absolute;top:15px;left: -24px;}
    .partners{padding-top: 5%;}
    .related .img-box img{margin: 0 auto;}
    .related{margin-bottom: 30px;}
    .service-wrap{margin-bottom:30px;}
    .custom-navbar{margin-left:0;}
    .navbar-collapse{border-top:none;}
    .gutter-left{padding-left: 15px;}
    .gutter-right{padding-right: 15px;}
    .right-panel.book-trip{margin-top: 30px;}
    .nav-tabs-detail > li{margin-right: 10px;}
    .service-wrap:hover{margin-bottom: 37px;}
    .info-wrap .info-info{width: 85%}
}

@media (min-width: 768px) and (max-width: 991px) {
    /*navbar collapse code*/
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important;}
    .navbar-nav>li {float: none;}
    .navbar-collapse.collapse.in{display:block !important;}
    /* end navbar collapse code*/
    .second-img{margin-right: 20px;}
    .home-page-form{margin-top: 0;}
    .tabs-left{margin-bottom: 3rem;}
    .tab-content{margin-left: 0;}
    .tab-content .active{overflow-y: scroll;}
    .popular-package-wrap img{width: 100%;}
    .popular-package-wrap .overlay{width: 92.4%;}
    .zero-row{margin: 0 0 0 -15px;}
    .service-wrap{margin-bottom:30px;}
    .text-cont{left: 6%;}
    .box-one{width: 100%;}
    .box-one-wrap .box-one-cont{padding: 53px 43px 40px 40px;}
    .box-two{width: 100%;}
    .box-two .box-two-img{width: 50%;float: left;}
    .box-two .box-two-cont{width: 50%;float: right;}
    .box-two-cont .arrow-up{width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right:12px solid #E6BC3E;position: absolute;top:15px;left: -24px;}
    .partners{padding-top: 1%; }
    .related{margin-bottom: 30px;}
    .footer .links:last-child{margin-top:40px;}
    .custom-navbar{margin-left:0;}
    .gutter-left{padding-left: 15px;}
    .gutter-right{padding-right: 15px;}
    .right-panel.book-trip{margin-top: 30px;}
    .service-wrap:hover{margin-bottom: 36px;}
    .info-wrap .info-info{width: 87%;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand > img{width: 100px}
    .custom-navbar{margin-left: 1%;margin-top: 1.5%;}
    .carousel-caption.main{top:11%}
    .carousel-caption.main h1{font-size: 36px;}
    .carousel-caption.main p{width: 100%;}
    .tabs-left{margin-top:0;overflow: hidden;}
    .tab-content{margin-left: 50px;}
    .radio-inline + .radio-inline{margin-left:0;}
    .popular-package-wrap .overlay{width: 88%;}
    .btn-thumbnail{padding: 7px 9px;}
    .inbound-package-wrap .thumbnail .caption{position: relative;height: 145px;}
    .inbound-package-wrap .thumbnail .caption p#button-wrap{position: absolute;bottom: 15px;}
    .inbound-package-wrap .thumbnail .caption a.st-price{margin-left: 15px;}
    .box-one-wrap .box-one-cont,.box-two .box-two-cont{padding:25px 35px 25px 35px;}
    .box-one-wrap .box-one-cont h3, .box-one-wrap .box-one-cont h3 a, .box-two .box-two-cont h3, .box-two .box-two-cont h3 a{font-size: 26px;}
    .box-one-wrap .box-one-cont p#bottom-row, .box-two .box-two-cont p#bottom-row{font-size: 13px;}
    .right-panel.book-trip{margin-top: -50px;}
}